@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700|Roboto:300,400,500,700');
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(36, 36, 36);
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 200
}

h1 {
    padding: 1rem;
    color: #ffaa22;
    background-color: rgb(36, 36, 36);
    text-shadow: 10px 10px 10px;
    max-width: fit-content;
    margin: 0 auto;
}

input {
    font-size: larger;
    text-align: center;
}

h2 {
    color: rgb(185, 183, 183);
    text-align: center;
}

.search-cont {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.go {
    box-shadow: 0px 1px 0px 0px #fff6af;
    max-width: fit-content;
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.go:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}

.go:active {
    position: relative;
    top: 1px;
}

.myLoc {
    box-shadow: 0px 1px 0px 0px #fff6af;
    max-width: fit-content;
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.myLoc:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}

.myLoc:active {
    position: relative;
    top: 1px;
}

.locAndCopy {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyLoc {
    box-shadow: 0px 1px 0px 0px #fff6af;
    max-width: fit-content;
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.copyLoc:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}

.copyLoc:active {
    position: relative;
    top: 1px;
}

/* .screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s;
} */

/* .modal {

} */

/* .map-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  justify-content: center;
} */

#map {
    width: 55%;
    height: 400px;
    margin: 0 auto;
    border: 2px solid red;
    border-radius: 3%;
    display: flex;

}

.locations-container {
    margin: 0 auto;
    margin-top: 20px;
    width: 55%;
    /* background-color: #555555; */
}
.locations-table {
    margin-top: 10px;
    border-spacing: 1;
    width: 100%;
    text-align: left;
    padding: 5px;
    /* display: flex; */
    /* justify-content: center; */
}
.locations-table th {
    background-color: #555555;
    /* border-bottom: 1px solid rgb(36, 36, 36); */
}
.locations-table th,.locations-table td {
    /* border-right: 1px solid rgb(36, 36, 36); */
    padding: 5px;
}
.locations-table tr:nth-child(even) {
    background-color: #555555;
}
.locations-table tr:nth-child(odd) {
    background-color: #777777;
}
.location-item button {
    box-shadow: 0px 1px 0px 0px #fff6af;
    max-width: fit-content;
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}
.location-item button:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}
.location-item button:active {
    position: relative;
    top: 1px;
}

.weather-details-container {
    border: 2px solid blue;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    height: 200px;
    /* flex-direction: column; */
    padding: 50px;
    margin: auto;
}


@media (max-width:770px) {
    h1 {
        padding: 1rem;
        color: #ff2222;
        background-color: rgb(36, 36, 36);
        text-shadow: 10px 10px 10px;
        max-width: fit-content;
        margin: 0 auto;
    }
    input {
        font-size: medium;
        text-align: center;
    }
    h2 {
        color: rgb(185, 183, 183);
        text-align: center;
    }
    .go {
        font-size: 10px;
        max-width: fit-content;
    }
    .myLoc {
        font-size: 10px;
        max-width: fit-content;
    }
    .copyLoc {
        font-size: 10px;
        max-width: fit-content;
    }
    .weather-details-container {
        width: 56%;

    }
}